h3{
    text-align: start;
}
p{
    text-align: justify;

}
.about-body{
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 50px;
}
h1{
    color:cadetblue;
}
hr{
    height: 1px;
    background-color:red !important;
    border: none;
}
.about-container{
    background-colo:red;
}